<!DOCTYPE html>
<html>
<head>
 <title>LegoMarketplace</title>
  <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js" type="text/javascript"></script>
    <![endif]-->
    <%= stylesheet_link_tag    "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

   </head>
   <body>

    <!-- Jumbotron -->

    <div class="jumbotron masthead">
     <h1>UNLOADR</h1>

    <p>Share and sell your LEGO® designs.</p>
    <p><a class="btn btn-primary btn-large">
      Interested? Email us a picture of your creation
     </a>
    </p>
   </div>

   <!-- Marketing -->

   <div class="container">
    <div class="marketing">
     <center><h1>No instruction manual? No problem!</h1>
      
     </center>
     <div class="row-fluid">
      
      <div class="span4">
       <img class="marketing-img" src="http://www.mocpages.com/user_images/10450/1217780009_SPLASH.jpg">
       <h2>You send us pictures of your LEGO</h2>
       <p>We scan the images and manually build a 3D representation of your design.</p>
      </div>
      
      <div class="span4">
       <img class="marketing-img" src="http://www.brickinstructions.com/04000/4504/074.jpg">
       <h2>We create the manual for FREE</h2>
       <p>We produce PDF manuals providing step by step instructions of how to assemble your design.To ensure you receive credit, we can include your name and photo.</p>
      </div>
      
      <div class="span4">
       <img class="marketing-img" src="http://cdn1.iconfinder.com/data/icons/ie_Financial_set/128/09.png">
       <h2>You sell your instructions on our site</h2>
       <p>We can create and online store for you to sell your manual; in addition, you can sell your manual on sites like eBay.</p>
      </div>
     </div>

     <!-- Footer Line -->
     <hr class="soften">




    </div>

   </div>


  </body>
  </html>
